<md-toolbar color="primary">

    <span class="flex"></span>

    <button md-icon-button (click)=closeDialog()>
        <md-icon>close</md-icon>
    </button>

    <button md-fab class="md-fab-editing md-fab" (click)="editingChange()">
        <md-icon class="md-24">{{fabIcon()}}</md-icon>
    </button>

    <md-toolbar-row>
        <md-input [disabled]="!editing" placeholder="Name" class="toolbar-input"
                  [(ngModel)]="election.name" name="name"></md-input>
    </md-toolbar-row>

</md-toolbar>

<div class="content">

    <table cellspacing="0">
        <tr>
            <td>
                <md-input [disabled]="!editing" placeholder="Abbreviation"
                          [(ngModel)]="election.name" name="abbreviation"></md-input>
            </td>

            <td>
                <md-input [disabled]="!editing" placeholder="Color"
                          [(ngModel)]="election.name" name="color"></md-input>
            </td>
        </tr>
    </table>

    <md-tab-group>
        <md-tab>
            <template md-tab-label>
                Districts
            </template>

            <template md-tab-content>
                <app-district-grid [districtList]="election.districtList"></app-district-grid>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Parties
            </template>
            <template md-tab-content>
                <md-grid-list cols="6" rowHeight="4:3">
                    <md-grid-tile *ngFor="let party of election.partyList">
                        <md-card (click)="goToParty(party)">
                            <span>{{party.name}}</span>
                        </md-card>
                    </md-grid-tile>
                    <md-grid-tile>
                        <md-card>
                            <span><md-icon>add</md-icon></span>
                        </md-card>
                    </md-grid-tile>
                </md-grid-list>
            </template>
        </md-tab>
    </md-tab-group>
</div>
