<md-toolbar color="primary">

    <span class="flex"></span>

    <button md-icon-button (click)=closeDialog()>
        <md-icon>close</md-icon>
    </button>

    <button md-fab class="md-fab-editing md-fab" (click)="editingChange()">
        <md-icon class="md-24">{{fabIcon()}}</md-icon>
    </button>

    <md-toolbar-row>
        <md-input [disabled]="!editing" placeholder="Name" class="toolbar-input"
                  [(ngModel)]="election.name" name="name"></md-input>
    </md-toolbar-row>

</md-toolbar>

<div class="content">

    <table cellspacing="0">
        <tr>
            <td>
                <md-input [disabled]="!editing" placeholder="Date"
                          [(ngModel)]="election.date" name="date"></md-input>
            </td>

            <td>
                <md-input [disabled]="!editing" placeholder="Type"
                          [(ngModel)]="election.type" name="type"></md-input>
            </td>
        </tr>
    </table>

    <md-tab-group>
        <md-tab>
            <template md-tab-label>
                Districts
            </template>

            <template md-tab-content>
                <app-district-grid [districtList]="election.districtList"></app-district-grid>
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Parties
            </template>
            <template md-tab-content>

                <div class="row is-flex">
                    <div class="col-xs-12 col-sm-6 col-md-44" *ngFor="let party of election.partyList">
                        <md-card>
                            <md-card-title>{{party.name}}</md-card-title>
                            <md-card-actions>
                                <button (click)="goToParty(party)" md-button>View</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <md-card (click)="addDistrict()">
                            <md-card-title>
                                <md-input placeholder="Add Party"
                                          name="newParty"></md-input>
                            </md-card-title>
                        </md-card>
                    </div>
                </div>


            </template>
        </md-tab>
    </md-tab-group>
</div>
