<div class="row is-flex">
    <div class="col-xs-12">
        <md-card>
            <md-card-title>
                <md-input placeholder="Search party..." name="search" style="width: 100%">
                    <span md-prefix>
                        <md-icon>search</md-icon>
                    </span>
                </md-input>
            </md-card-title>
        </md-card>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let party of partyList">
        <md-card (click)="openDialog(party)">
            <md-card-title>{{party.name}}</md-card-title>
        </md-card>
    </div>
</div>

<button md-fab class="md-fab-create md-fab" (click)="create()">
    <md-icon class="md-24">add</md-icon>
</button>
