
md-dialog-container {
  transition: height 0.5s ease !important;
  overflow: scroll !important;
}

md-dialog-container.md-dialog-container {
  padding: 0;
}

.cdk-overlay-pane {
  transition: width 0.5s ease;
}

md-dialog-container.md-dialog-container > focus-trap > div:nth-child(2){
  height: 100%;
}

.content-dialog {
  padding: 24px;
  height: 100%;
}

.md-dialog-container-normal-size {
  height: 70vh;
}

.md-dialog-container-full-size {
  height: 100vh;
}
.md-overlay-pane-normal-size {
  width: 85%;
}

.md-overlay-pane-full-size {
  width: 100%;
}
