<div class="row is-flex" >
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let district of districtList">
        <app-district-detail (onRemove)="remove($event)" (onRoute)="routeChanged()"
                             [district]="district"></app-district-detail>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="editable">
        <md-card (click)="addDistrict()">
            <md-card-title>
                <md-input placeholder="Add District"
                          name="newDistrict"></md-input>
            </md-card-title>
        </md-card>
    </div>
</div>
