<md-card>
  <md-card-title>Results by District</md-card-title>
  <md-card-content>
    <md-list class="md-list-item-auto-height">

      <div *ngFor="let item of  [0,1,2,3,4,5,6,7]">
        <md-list-item>
          <h3 md-line> Example </h3>
          <p md-line>
            <span> Seats </span>
            <span class="demo-2"> -- Example </span>
            <span> Census </span>
            <span class="demo-2"> -- Example </span>
          </p>
          <app-vote-count-stacked-chart md-line></app-vote-count-stacked-chart>
        </md-list-item>
        <md-divider></md-divider>
      </div>

    </md-list>
  </md-card-content>
</md-card>
