<md-card role="button">
    <md-card-title>
        <md-input [disabled]="!editing" placeholder="Name"
                  [(ngModel)]="name" name="name"></md-input>
    </md-card-title>

    <md-card-content>


        <table cellspacing="0">
            <tr>
                <td>
                    <md-input [disabled]="!editing" placeholder="Seats" type="number" min="0"
                              [(ngModel)]="district.seats" name="seats"></md-input>
                </td>

                <td>
                    <md-input [disabled]="!editing" placeholder="Census" type="number" min="0"
                              [(ngModel)]="district.census" name="census"></md-input>
                </td>
            </tr>
        </table>
    </md-card-content>

    <md-card-actions>
        <button *ngIf="!editing" (click)="view()" md-button>View</button>
        <button *ngIf="!editing" (click)="edit()" md-button>Edit</button>

        <button *ngIf="editing" (click)="remove()" md-button>Remove</button>
        <button *ngIf="editing" (click)="save()" md-button>Save</button>
    </md-card-actions>
</md-card>
