
<md-card>
  <md-card-title>Ranking Results</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item>

        <img md-list-avatar style="background-color: red">
        <h3 md-line> Example </h3>
        <p md-line>
          <span> Example </span>
          <span class="demo-2"> -- Example </span>
        </p>
      </md-list-item>

      <md-list-item>
        <img md-list-avatar style="background-color: blue">
        <h3 md-line> Example </h3>
        <p md-line>
          <span> Example </span>
          <span class="demo-2"> -- Example </span>
        </p>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar style="background-color: purple">
        <h3 md-line> Example </h3>
        <p md-line>
          <span> Example </span>
          <span class="demo-2"> -- Example </span>
        </p>
      </md-list-item>

      <md-list-item>
        <img md-list-avatar style="background-color: orange">
        <h3 md-line> Example </h3>
        <p md-line>
          <span> Example </span>
          <span class="demo-2"> -- Example </span>
        </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
