<md-toolbar color="primary">Basic</md-toolbar>
<div class="content">
    <form>
        <table style="width: 100%" cellspacing="0"><tr>
            <td><md-input placeholder="First name" style="width: 100%"></md-input></td>
            <td><md-input placeholder="Long Last Name That Will Be Truncated" style="width: 100%"></md-input></td>
        </tr></table>
        <table style="width: 100%" cellspacing="0"><tr>
            <td><md-input class="demo-full-width" placeholder="City"></md-input></td>
            <td><md-input class="demo-full-width" placeholder="State"></md-input></td>
        </tr></table>
    </form>
    <p>
        party-detail works! This is {{partyId}}
    </p>
</div>
