.content {
    padding: 24px;
}

md-toolbar {
    height: 140px;
}

md-input {
    width: 100%;
}

.md-fab-editing {
    position: absolute;
    top: 110px;
    right: 5%;
}

md-toolbar-row  {
    padding-top: 50px;
}


md-card {
    width: 85%;
}
