/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

.flex {
    flex: 1 1 auto;
}
button:focus {outline:0;}

md-dialog-container.md-dialog-container {
    padding: 0;
}

.md-overlay-pane {
    max-width: 960px;
    width: 90%;
    max-height: 95vh;
    overflow: scroll;
}
div.content {
    background-color: whitesmoke;
}

md-toolbar label.md-input-placeholder {
    color: rgba(255, 255, 255, 0.87);
}
md-toolbar div.md-input-underline {
    border-color: rgba(255, 255, 255, 0.87);
}

.md-fab {
    z-index: 10;
}
